<ion-header class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-title>
      Mi Perfil
    </ion-title>
    <ion-buttons slot="end" (click)="presentPopover($event)">
      <ion-icon class="btn-menu" name="ellipsis-vertical"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-profile">
    
    <form>
      <div class="icon-person">
        <ion-icon name="person"></ion-icon>
      </div>

      <ion-item color="transparent">
        <ion-label position="floating">Correo</ion-label>
        <ion-input placeholder="micorreo@micorreo.com"></ion-input>
      </ion-item>
  
      <ion-item color="transparent">
        <ion-label position="floating">CI</ion-label>
        <ion-input></ion-input>
      </ion-item>
  
      <ion-item color="transparent">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input></ion-input>
      </ion-item>
  
      <ion-item color="transparent">
        <ion-label position="floating">Apellido</ion-label>
        <ion-input></ion-input>
      </ion-item>
  
      <ion-item color="transparent">
        <ion-label position="floating">Celular</ion-label>
        <ion-input></ion-input>
      </ion-item>
  
      <ion-item color="transparent">
        <ion-label position="floating">Dirección</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <div class="ion-text-end ion-margin-top">
        <ion-button color="carbon"><ion-icon slot="start" name="create"></ion-icon>Editar</ion-button>
      </div>
    </form>
  </div>
</ion-content>