ion-content {
    --background: var(--ion-color-bone) !important;
}

ion-footer {
    background: var(--ion-color-bone);
    ion-button {
        --background: var(--ion-color-opaque);
        --color: var(--ion-color-carbon);
        margin-bottom: 16px;
        margin-right: 16px;
    }
}

ion-select {
    width: 100%;
}