<ion-header class="ion-no-border">
  <ion-toolbar color="bone">
    <ion-title>
      Administración de Tarjetas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="transparent">
    <ion-select interface="popover" placeholder="Select fruit">
      <ion-select-option value="apples">Apples</ion-select-option>
      <ion-select-option value="oranges">Oranges</ion-select-option>
      <ion-select-option value="bananas">Bananas</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item color="transparent">
    <ion-select interface="popover" placeholder="Select fruit">
      <ion-select-option value="apples">Apples</ion-select-option>
      <ion-select-option value="oranges">Oranges</ion-select-option>
      <ion-select-option value="bananas">Bananas</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item color="transparent">
    <ion-input placeholder="Número de la cuenta"></ion-input>
  </ion-item>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="ion-text-end">
    <ion-button (click)="cerrarModal()">
      Cerrar
    </ion-button>
  </div>
</ion-footer>