<ion-header class="ion-no-border">
  <ion-toolbar color="bone">
    <ion-title class="ion-text-center">Nuevo Partido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="bone" class="ion-padding">
  <p>
    modal-partido works!
  </p>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-text-center">
      <ion-button color="carbon" expand="block">Guardar</ion-button>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button color="carbon" expand="block" fill="outline" (click)="cerrar()">Cancelar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>